.listItem {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;

    img {
        height: 100%;
        width: auto;
        position: absolute;
        left: 0;
        top: 0;
    }
}