:root {
  --d: 5%;
  --dark: #292C35;
  --white: #fff;
  --background: #f5f6fb;
  --background-dark: hsl(var(--background), var(--d));
  --main: #f16748;
  --orange: #f16748;
  --main-dark: #ff461d;
  --red: #EC5050;
  --yellow: #FFDE88;
  --greyLight: #8D8D8D;
  --greyMiddle: #8D8D8D;
  --screenWidth: 376px;
}
